@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: var(--mui-palette-mode-primary-main);
}

#__next {
  height: 100%;
}

.page-wrapper {
    width: 90vw;
}

.page-content-wrapper {
    min-height: 80vh;
    padding: 20px 50px 0px 50px;
}

.sidebar-header {
    padding: 25px 0px 18px 20px;
    font-weight: 800;
    color: #063437;
    font-size: 1.3rem;
    border-bottom: 1px solid #063437;
}

.sidebar-subtitle {
    padding: 15px 0px 8px 0px;
    font-weight: 500;
}

.header-wrapper {
    border-bottom: 1px solid #063437;
    height: 67px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-search-wrapper {
    width: 20px;
    height: 20px;
    color: #0A565C;

    & :hover {
        cursor: pointer;
        color: #063437;
    }
}

.toggle-dark-wrapper {
    padding-right: 60px;
}

.active {
    background-color: RGB(10, 86, 92, 0.05);
}

.page-header {
    padding: 23px 0px 15px 50px;
    font-weight: 600;
    color: #063437;
    font-size: 1.3rem;
}