.ingredient-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.ingredient-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    align-items: center;
}

.btn-add-ingredient, .btn-delete-ingredient {
    width: 50px;
}

.ingredients-table {
    width: 70vw;
}

.btns-ingredient-form, .btns-delete-ingredient-form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btns-delete-ingredient-form {
    padding: 0px 20px 20px 20px;
}

.ingredient-row-wrapper {
    display: flex;
    gap: 20px;
}